<nav class="u-background">
  <div class="u-wrapper">
    <ul class="Banner">
      <li class="Banner-item Banner-item--title">
        <a class="Banner-link u-clickable" href="#">{{ site-title }}</a>
      </li>
      
      {{#menus}}
        <li class="Banner-item">
          <a class="Banner-link u-clickable" href="#">{{ name }}</a>
        </li>
      {{/menus}}
    </ul>
  </div>
</nav>
