<header class="Heading">
  <h2 class="Heading-title">
    <a class="Heading-link u-clickable" href="#" rel="bookmark">{{ title }}</a>
  </h2>

  {{#date}}
    <time datetime="#">{{date}}</time>
  {{/date}}
</header>
