<!doctype html>
<html lang="{{lang}}">
<head>
    <title>{{{title}}}</title>
    <meta charset="UTF-8"/>
    <style>{{default-style}}</style>

    {{#css}}<link rel="stylesheet" href="{{css}}">{{/css}}
</head>

<body class="pod">
    <div id="___top"></div>
    {{#toc}}{{{toc}}}{{/toc}}

    <div class="pod-body{{^ toc }} no-toc{{/ toc }}">
    {{#body}}{{{ . }}}{{/body}}
    </div>

    {{#footnotes}}{{{footnotes}}}{{/footnotes}}
</body>
</html>
